@font-face {
    font-family: 'RoyaleKingdom';
    src: url('/fonts/Royale\ Kingdom\ DEMO.ttf');
}

body {
    background-color: #363636;
}

.container {
    font-family: 'RoyaleKingdom';
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
}

.character_card {
    margin: 0px 10px 0px 10px;
    background-color: #494949;
    border-radius: 10px;
    padding: 15px 15px;
    box-shadow: 10px solid black;
}

.character_level {
    text-align: center;
    font-weight: bold;
    color: #e6b13d;
    font-size: 64px;
}

.character_job {
    color: #c42e2e;
    font-weight: 600;
    font-size: 56px;
    text-align: center;
}

.character_life {
    text-align: center;
    font-weight: bold;
    color: #e6b13d;
    font-size: 64px;
}

.form_subscribe {
    width: 100%;
    display: flex;
    margin-top: 5em;
    color: white;
    flex-direction: column;
    align-items: center;
}

.register {
    font-weight: bold;
    font-size: 20px;

}

.form_elements {
    display: flex;
    flex-direction: column;
}

.account{
    background: #363636;
    border: none;
    border-bottom: 1px solid white;
    height: 25px;
    outline: none;
    color: white;
}

.submit {
    margin-top: 5px;
}

.account:active {
    border: none;
    outline:none;
}

label {
    text-align: center;
}