@font-face {
    font-family: 'RoyaleKingdom';
    src: url('/fonts/Royale\ Kingdom\ DEMO.ttf');
}

body {
    background-color: #363636;
}

.container {
    font-family: 'RoyaleKingdom';
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
}

.character_card {
    margin: 0px 10px 0px 10px;
    background-color: #494949;
    border-radius: 10px;
    padding: 15px 15px;
    box-shadow: 10px solid black;
}

.character_level {
    text-align: center;
    font-weight: bold;
    color: #e6b13d;
    font-size: 64px;
}

.character_job {
    color: #c42e2e;
    font-weight: 600;
    font-size: 56px;
}

.character_life {
    text-align: center;
    font-weight: bold;
    color: #e6b13d;
    font-size: 64px;
}

.form_subscribe {
    width: 100%;
    display: flex;
    margin-top: 5em;
    color: white;
    justify-content: center;
}

.form_elements {
    display: flex;
    flex-direction: column;
}